body {
	background-color: beige;
}

.btn {
	margin-bottom: 10px;
}

.contact {
	font-weight: bold;
}

.panel {
	width: 300px;
}

.newLine {
	padding-right: 15px;
	padding-left: 15px;
}

.linkedIn {
	padding-left: 18px;
}

.resume {
	padding-left: 30px;
}

.portfolio {
	width: 280px;
	margin-bottom: 10px
}

.npmPortfolio {
	padding-top: 33px;
	padding-bottom: 33px;
	width: 280px;
	margin-bottom: 10px
}